body {
    background: linear-gradient(to bottom, #ffd194, #70e1f5);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Roboto', 'Oswald', sans-serif;
    min-height: 100vh;
}

header {
text-align: center;
}

.thetitle {
    font-size: 3rem;
    color: #9d50bb;
    margin-bottom: 2rem;
    font-weight: bold;
}

.Move {
    font-size: 2rem;
    color:#e74c3c;
}

#WhosMove {
    font-weight: bold;
}

.blackChess {
    color: #000;
}

.whiteChess {
    color: white;
}

main {
    margin-top: 1rem;
    text-align: center;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

canvas {
    margin-bottom: 0.6rem;
    border: 1px solid #000;
    max-width: 100%;
    max-height: 100%;
}

#restartButton {
    font-size: 1.2rem;
    padding: 0.5rem;
}

footer {
    margin: 0px;
    padding: 1rem;
}

.Thankyou {
    text-align: center;
}

.copyright {
    font-size: 12px;
}
