body {
    background: linear-gradient(to bottom, #ffd194, #70e1f5);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Roboto', 'Oswald', sans-serif;
    min-height: 100vh;
}

header {
    text-align: center;
}

.thetitle {
    font-family: Monoton;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 3rem;
    letter-spacing: 0.1em;
    color: #9d50bb;
    margin-bottom: 1.5rem;
}

.Move {
    font-family: Barriecito;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 2rem;
    color: #e74c3c;
}

.blackMove {
    font-family: Barriecito;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: #000;
    font-size: 2rem;
    font-weight: bold;
}

.whiteMove {
    font-family: Barriecito;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 2rem;
    font-weight: bold;
}

main {
    margin-top: 1rem;
    text-align: center;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

canvas {
    margin-bottom: 0.6rem;
    border: 1px solid #000;
    max-width: 100%;
    max-height: 100%;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

button {
    font-family: Handjet;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 0.5rem;
    margin: 0 0.5rem;
}

.rotating {
    animation: roll 2s 1;
}

@keyframes roll {
    0% {
      transform: rotate(0);
      width: calc(0.7 * min(100vh, 100vw));
    }

    50% {
        transform: rotate(180deg);
        width: calc(0.05 * min(100vh, 100vw));
    }

    100% {
      transform: rotate(360deg);
      width: calc(0.7 * min(100vh, 100vw));
    }
  }

footer {
    margin: 0px;
    padding: 1rem;
}

.Thankyou {
    text-align: center;
    text-shadow: 2px 2px 4px rgb(224, 223, 223);
}

.copyright {
    font-size: 12px;
}
